
<div id="row1">
	<section id="slide-one" class="slide">
	  <article class="slide-inner">
	  	<% @shirts.each do |shirt| %>
	  <figure>
      <img src=<%="#{shirt.image}"%> alt=""/>
	  </figure>
	  <% end %>
	  </article>
		<a href="#" class="btn right" >></a>
		<a href="#" class="btn left" ><</a>
	</section>
</div>

<div id="row2">
	<section id="slide-two" class="slide">
	  <article class="slide-inner">
	  	<% @pants.each do |pant| %>
	  <figure>
      <img src=<%="#{pant.image}"%> alt=""/>
	  </figure>
	  <% end %>
	  </article>
		<a href="#" class="btn right" >></a>
		<a href="#" class="btn left" ><</a>
	</section>
</div>

<div id="row3">
	<section id="slide-three" class="slide">
	  <article class="slide-inner">
	  	<% @shoes.each do |shoe| %>
	  <figure>
      <img src=<%="#{shoe.image}"%> alt=""/>
	  </figure>
	  <% end %>
	  </article>
		<a href="#" class="btn right" >></a>
		<a href="#" class="btn left" ><</a>
	</section>
</div>

<script type="text/javascript">
	// Call plugin if you put in head if not not require DOMContentLoaded
	document.addEventListener('DOMContentLoaded',function(){
	  new boxSlider(document.querySelector('#slide-one'),{
	      delay: '1000', // ms
	      effect: 'ease-in-out'
	  });

	 	new boxSlider(document.querySelector('#slide-two'),{
	      delay: '2000', // ms
	      effect: 'ease'
	  });

	 	new boxSlider(document.querySelector('#slide-three'),{
	      delay: '500', // ms
	      effect: 'linear'
	  });
	});
</script>
