  

<div id="header_wrapper">
	<div id="shopperista_logo">
		<h2>Shopperista</h2>
	</div>

	<div id="nav">
		<ul>
			<li><a href="/myoutfits">My Outfits</a></li>
			<li><a href="/popular" id="lulz">Popular</a></li>
			<li><a href="/randomizer">RANDOMIZE!</a></li>
		</ul>
	</div>
</div>

<div id="row1">
	<section id="slide-one" class="slide">
	  <article class="slide-inner">
	  <figure>
      <img src="http://24.media.tumblr.com/5c73892a883adf41e9b8b7fe807e19b8/tumblr_n2k10foRBd1st5lhmo1_1280.jpg" alt=""/>
	    <figcaption>The Underground</figcaption>
	  </figure>
	  <figure>
      <img src="http://25.media.tumblr.com/1adc4029ef3a31124f222add70fa3553/tumblr_n2k1499dIp1st5lhmo1_1280.jpg" alt=""/>
	    <figcaption>The city</figcaption>
	  </figure>
	  <figure>
      <img src="http://25.media.tumblr.com/324af51a10469f92dab488ace37cd2e1/tumblr_n2k0z8dFw71st5lhmo1_1280.jpg" alt=""/>
	    <figcaption>The map</figcaption>
	  </figure>
	  </article>
		<a href="#" class="btn right" >></a>
		<a href="#" class="btn left" ><</a>
	</section>
</div>

<div id="row2">
	<section id="slide-two" class="slide">
	  <article class="slide-inner">
	  <figure>
      <img src="http://24.media.tumblr.com/5c73892a883adf41e9b8b7fe807e19b8/tumblr_n2k10foRBd1st5lhmo1_1280.jpg" alt=""/>
	    <figcaption>The Underground</figcaption>
	  </figure>
	  <figure>
      <img src="http://25.media.tumblr.com/1adc4029ef3a31124f222add70fa3553/tumblr_n2k1499dIp1st5lhmo1_1280.jpg" alt=""/>
	    <figcaption>The city</figcaption>
	  </figure>
	  <figure>
      <img src="http://25.media.tumblr.com/324af51a10469f92dab488ace37cd2e1/tumblr_n2k0z8dFw71st5lhmo1_1280.jpg" alt=""/>
	    <figcaption>The map</figcaption>
	  </figure>
	  </article>
		<a href="#" class="btn right" >></a>
		<a href="#" class="btn left" ><</a>
	</section>
</div>

<div id="row3">
	<section id="slide-three" class="slide">
	  <article class="slide-inner">
	  <figure>
      <img src="http://24.media.tumblr.com/5c73892a883adf41e9b8b7fe807e19b8/tumblr_n2k10foRBd1st5lhmo1_1280.jpg" alt=""/>
	    <figcaption>The Underground</figcaption>
	  </figure>
	  <figure>
      <img src="http://25.media.tumblr.com/1adc4029ef3a31124f222add70fa3553/tumblr_n2k1499dIp1st5lhmo1_1280.jpg" alt=""/>
	    <figcaption>The city</figcaption>
	  </figure>
	  <figure>
      <img src="http://25.media.tumblr.com/324af51a10469f92dab488ace37cd2e1/tumblr_n2k0z8dFw71st5lhmo1_1280.jpg" alt=""/>
	    <figcaption>The map</figcaption>
	  </figure>
	  </article>
		<a href="#" class="btn right" >></a>
		<a href="#" class="btn left" ><</a>
	</section>
</div>

<script type="text/javascript">
	// Call plugin if you put in head if not not require DOMContentLoaded
	document.addEventListener('DOMContentLoaded',function(){
	  new boxSlider(document.querySelector('#slide-one'),{
	      delay: '1000', // ms
	      effect: 'ease-in-out'
	  });

	 	new boxSlider(document.querySelector('#slide-two'),{
	      delay: '2000', // ms
	      effect: 'ease'
	  });

	 	new boxSlider(document.querySelector('#slide-three'),{
	      delay: '500', // ms
	      effect: 'linear'
	  });
	});
</script>
